In [1]:
import pandas as pd
df = pd.read_pickle('clean_data_for_modelling3.p')

In [2]:
df.head()

,viewer_id,one_day_mins,two_day_mins,seven_day_mins,one_sim,two_sim,seven_sim,sixteen_twentyfour,sixteen_thirtyfour,affluency,female_flag,hub_tenure,boi_within_seven_days,hub_plus_tenure,dau_within_seven_days,avg_sessions,churn_binary
0,abbbbb21-a32d-4d49-8ef2-989547921117,186.463233,186.463233,379.800917,0.000000,0.000000,0.000000,0.0,0.0,1.0,1.0,1392.0,4,1,4,1,1
1,67c14870-ef0c-4f04-a335-9fe988f65ed0,68.834717,70.168050,235.574733,0.000000,0.000000,53.566667,1.0,1.0,0.0,0.0,1351.0,3,3,5,1,1
2,76b19b27-0cb9-4cec-b3e2-3118e013e1e6,33.570467,79.828500,79.828500,0.000000,0.000000,0.000000,0.0,0.0,1.0,1.0,949.0,1,4,2,1,1
3,a47065aa-5ea4-4e6f-849c-37fd6259a3bb,0.000000,138.821367,138.821367,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1269.0,1,8,1,1,1
4,85ae97f4-1bc1-40d8-a958-4bd2e0236918,141.354033,141.354033,141.354033,21.283333,21.283333,21.283333,1.0,1.0,1.0,1.0,1180.0,3,1,2,1,1

In [5]:
affluence_df = pd.read_csv('hub_plus_experian_affluence.csv')
registration_source_df = pd.read_csv('registration_source.csv')
first_week_completed_episodes_df = pd.read_csv('first_week_completed_episodes.csv')
average_completion_df = pd.read_csv('average_completion.csv')
svod_subscription_df = pd.read_csv('svod_subscription.csv')

In [9]:
from functools import reduce
df_final = reduce(lambda left,right: pd.merge(left,right,on='viewer_id'), 
                  [df, affluence_df, registration_source_df, first_week_completed_episodes_df,
                  average_completion_df, svod_subscription_df])

In [10]:
df_final.head()

,viewer_id,one_day_mins,two_day_mins,seven_day_mins,one_sim,two_sim,seven_sim,sixteen_twentyfour,sixteen_thirtyfour,affluency,...,boi_within_seven_days,hub_plus_tenure,dau_within_seven_days,avg_sessions,churn_binary,p_affluence_v2,case,completed_programmes,avg_completion,p_0172_prop_tv_ondemand_subscription_v1b
0,b7f553d1-cc69-429d-8e54-0dca4f0d7c6b,90.463783,135.209417,314.081983,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,4,1,7,1,1,1,0,3,0.869324,0.2291
1,bd0e78fc-dd7d-48cf-b96d-a2d0a582e12c,207.098683,252.062217,363.294617,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,2,1,6,1,1,17,1,4,0.940683,NaN
2,6bde74b4-7533-45e9-9e94-1e393415eb81,45.839350,45.839350,90.144717,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,2,2,3,1,1,2,1,1,0.989718,NaN
3,7bd1e296-7e7d-44e9-a3cd-9e0b6a3cd609,45.386000,45.386000,45.386000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,1,1,2,1,1,11,1,1,1.000059,NaN
4,4dfed92c-bb72-498a-b12f-bdb0d4f2e03c,47.805117,47.805117,47.805117,1.239867,1.239867,1.239867,0.0,0.0,0.0,...,1,1,1,1,1,18,1,1,1.017852,NaN

In [11]:
df_final = df_final.rename(columns={'case': 'registration_source'})

In [12]:
df_final= df_final.fillna(0)
df_final = df_final.dropna(axis=0,how='any')

In [13]:
df_final.head()

,viewer_id,one_day_mins,two_day_mins,seven_day_mins,one_sim,two_sim,seven_sim,sixteen_twentyfour,sixteen_thirtyfour,affluency,...,boi_within_seven_days,hub_plus_tenure,dau_within_seven_days,avg_sessions,churn_binary,p_affluence_v2,registration_source,completed_programmes,avg_completion,p_0172_prop_tv_ondemand_subscription_v1b
0,b7f553d1-cc69-429d-8e54-0dca4f0d7c6b,90.463783,135.209417,314.081983,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,4,1,7,1,1,1,0,3,0.869324,0.2291
1,bd0e78fc-dd7d-48cf-b96d-a2d0a582e12c,207.098683,252.062217,363.294617,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,2,1,6,1,1,17,1,4,0.940683,0.0000
2,6bde74b4-7533-45e9-9e94-1e393415eb81,45.839350,45.839350,90.144717,0.000000,0.000000,0.000000,1.0,1.0,0.0,...,2,2,3,1,1,2,1,1,0.989718,0.0000
3,7bd1e296-7e7d-44e9-a3cd-9e0b6a3cd609,45.386000,45.386000,45.386000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,1,1,2,1,1,11,1,1,1.000059,0.0000
4,4dfed92c-bb72-498a-b12f-bdb0d4f2e03c,47.805117,47.805117,47.805117,1.239867,1.239867,1.239867,0.0,0.0,0.0,...,1,1,1,1,1,18,1,1,1.017852,0.0000

In [14]:
df_final.to_pickle('clean_data_for_modelling4.p')

In [15]:
df_final.dtypes

viewer_id                                    object
one_day_mins                                float64
two_day_mins                                float64
seven_day_mins                              float64
one_sim                                     float64
two_sim                                     float64
seven_sim                                   float64
sixteen_twentyfour                          float64
sixteen_thirtyfour                          float64
affluency                                   float64
female_flag                                 float64
hub_tenure                                  float64
boi_within_seven_days                         int64
hub_plus_tenure                               int64
dau_within_seven_days                         int64
avg_sessions                                  int64
churn_binary                                  int64
p_affluence_v2                                int64
registration_source                           int64
completed_programmes                          int64
avg_completion                              float64
p_0172_prop_tv_ondemand_subscription_v1b    float64
dtype: object