In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
comedy = pd.read_csv('2018 July Comedy Viewers.csv')
comedy.head()

,viewer_id,gender,age,barb,requests,hours
0,1418f62e-30e1-44ed-858c-3d9afde68c34,M,28.0,a3.ad.m3.me,2,0.376269
1,22dd5aa1-8bb1-49e1-8d0c-92acb47e4ad7,M,NaN,a3.ad.axa.m3.me,1,0.344018
2,49b43722-e41e-4b61-a132-c479068a17da,F,21.0,a2.a3.ad.axa.w3.wo,26,7.839971
3,a56a5f29-86ff-45db-be35-88fc6a27e435,F,NaN,a2.a3.aa.ad.hc.w3.wa.wo,17,4.899691
4,c3b699b5-b267-4970-8ee2-5796263a029f,F,22.0,a2.a3.ad.axa.h5.hc.hw.w3.wo,49,14.719905

In [8]:
sample = comedy.sample(frac=0.01)
sample.head()

,viewer_id,gender,age,barb,requests,hours
551165,bb652abe-42a5-4cc3-aba2-b1f933cea0e9,F,29.0,a3.ad.w3.wo,4,1.342792
275520,f4ecdcba-38b2-459b-abc4-aa63c73bb49f,F,24.0,a2.a3.ad.w3.wo,11,3.105696
257240,08a52dcc-5cc9-4494-806e-14a16d8e085e,F,23.0,a2.a3.ad.w3.wo,46,13.095886
267496,d47593fd-33b2-4085-a736-d80efbeb4b40,F,33.0,a3.ad.axa.hc.w3.wo,4,0.928149
652862,f130aecb-21ff-448c-87c3-8296f808172a,F,31.0,a3.ad.axa.hc.w3.wo,2,0.343384

Import ttest_ind and ttest_rel in order to conduct t-tests between the two sets, ttest_ind for independent samples or for Welch's test using the equal_var=False, ttest_rel for related samples

In [14]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
ttest_ind(comedy['requests'], sample['requests'], axis=0, equal_var=False)

Ttest_indResult(statistic=0.2949116320948883, pvalue=0.76807092981933689)

In [15]:
ttest_ind(comedy['hours'], sample['hours'], axis=0, equal_var=False)

Ttest_indResult(statistic=0.37347976514522674, pvalue=0.7088037355966752)

In [19]:
comedy = comedy.dropna(axis=0)
sample = sample.dropna(axis=0)
ttest_ind(comedy['age'], sample['age'], axis=0, equal_var=False)

Ttest_indResult(statistic=3.5144161341648918, pvalue=0.00044341277649817865)

In [17]:
sample['age'].mean()

31.971460459183675

In [18]:
comedy['age'].mean()

32.62487942000424

In [20]:
from scipy.stats import mannwhitneyu
mannwhitneyu(comedy['age'], sample['age'])

MannwhitneyuResult(statistic=1961937515.0, pvalue=0.36710352255548451)