In [8]:
s3_credentials = open('creds.json').read()
import json
s3_creds = json.loads(s3_credentials)

In [9]:
import pandas as pd

In [10]:
df_cw = pd.read_csv('continue_watching_ids.csv')
df_cw.head()

                                    uid
0  3928ac82-20df-47e1-809f-1e5cd2809476
1  7b0ed34d-b908-4c5b-9161-13a942f239ed
2  6991bfe4-6a61-4c84-9450-b10d0f8c9d42
3  fc3bda98-e4bf-4056-845d-479c0b6b1f18
4  ce445538-88f9-4077-843b-e19166dfba06

In [11]:
df_cw.set_index('uid', inplace = True)
df_cw.head()

Empty DataFrame
Columns: []
Index: [3928ac82-20df-47e1-809f-1e5cd2809476, 7b0ed34d-b908-4c5b-9161-13a942f239ed, 6991bfe4-6a61-4c84-9450-b10d0f8c9d42, fc3bda98-e4bf-4056-845d-479c0b6b1f18, ce445538-88f9-4077-843b-e19166dfba06]

In [12]:
import boto3
from io import StringIO

def df_to_s3(df, bucket, key, s3_access_key, s3_secret_key):

    session = boto3.Session(aws_access_key_id = s3_access_key,
                            aws_secret_access_key = s3_secret_key)
    s3 = session.resource('s3')
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)

    s3.Object(bucket, key).put(ServerSideEncryption = 'AES256', Body = csv_buffer.getvalue()[1:])
    return print('Successfully uploaded data to s3 bucket!')

if __name__ == '__main__':

    file = ''
    bucket_name = 'svv-s3-dev-scratch'
    s3_access_key = s3_creds['access_key']
    s3_secret_key = s3_creds['secret_key']
    
    hub_segmentation_key = 'continue_watching_ids.csv'

    df_to_s3(df_cw, bucket_name, hub_segmentation_key, s3_access_key, s3_secret_key)

Successfully uploaded data to s3 bucket!