In [3]:
from sqlalchemy import create_engine
import boto3
import pandas as pd
import io
engine = create_engine('postgres://conord:v9qQZdVXHfrxj5px@svv-rs-prod-bi.cjddijbnvfpr.eu-west-1.redshift.amazonaws.com:5439/svv')

In [4]:
data_frame_vod = pd.read_sql_query('''
SELECT
platform_label,
sum(stream_requests) as vod_requests,
sum(stream_playing_time_combined)/3600 as vod_consumption
FROM core.vw_viewing_combined v
INNER JOIN core.platform p on p.platform_id = v.platform_id
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int)
GROUP BY platform_label
''', engine)

In [5]:
data_frame_vod

    platform_label  vod_requests  vod_consumption
0       Chromecast       1753967     7.680551e+05
1       NowTV/Roku       7362000     3.541977e+06
2              iOS      36702584     1.246101e+07
3             None           894     3.848493e+01
4    Freeview Play       5955050     2.473751e+06
5             Xbox       4726214     1.924424e+06
6          ITV.com      22586101     1.050035e+07
7          YouView       6291415     3.117541e+06
8     YouView-Sony        682880     3.065624e+05
9          Freesat        490568     1.078651e+05
10      Android TV         65985     3.153030e+04
11  Amazon Fire TV      10879424     5.357048e+06
12         Samsung       9903915     4.684345e+06
13         Android      11620666     3.897773e+06
14        Apple TV        632421     2.610048e+05

In [7]:
data_frame_vod.to_excel(r'C:\Users\ryanwala\Desktop\flash_dashboard_python\july_hub_figures.xlsx','vod')

In [8]:
data_frame_sim = pd.read_sql_query('''
SELECT
platform_label,
sum(stream_requests) as sim_requests,
sum(stream_playing_time_combined)/3600 as sim_consumption
FROM core.vw_simulcast_viewing_combined v
INNER JOIN core.platform p on p.platform_id = v.platform_id
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int)
GROUP BY platform_label
''', engine)

In [9]:
data_frame_sim

   platform_label  sim_requests  sim_consumption
0             iOS      29517387     7.513275e+06
1            None           192     2.150222e-02
2        Apple TV        246309     5.346692e+05
3         ITV.com      11157068     8.210472e+06
4      NowTV/Roku       2212767     3.047981e+06
5  Amazon Fire TV       2773277     3.148672e+06
6         Samsung       1379322     1.237162e+06
7         Android       9121836     2.716919e+06

In [10]:
data_frame_sim.to_excel(r'C:\Users\ryanwala\Desktop\flash_dashboard_python\july_hub_figures.xlsx','sim')

In [11]:
vod_sim_platform = pd.merge(data_frame_sim, data_frame_vod, how="right", on = "platform_label")

In [12]:
vod_sim_platform

,platform_label,sim_requests,sim_consumption,vod_requests,vod_consumption
0,iOS,29517387.0,7.513275e+06,36702584,1.246101e+07
1,None,192.0,2.150222e-02,894,3.848493e+01
2,Apple TV,246309.0,5.346692e+05,632421,2.610048e+05
3,ITV.com,11157068.0,8.210472e+06,22586101,1.050035e+07
4,NowTV/Roku,2212767.0,3.047981e+06,7362000,3.541977e+06
5,Amazon Fire TV,2773277.0,3.148672e+06,10879424,5.357048e+06
6,Samsung,1379322.0,1.237162e+06,9903915,4.684345e+06
7,Android,9121836.0,2.716919e+06,11620666,3.897773e+06
8,Chromecast,NaN,NaN,1753967,7.680551e+05
9,Freeview Play,NaN,NaN,5955050,2.473751e+06
10,Xbox,NaN,NaN,4726214,1.924424e+06
11,YouView,NaN,NaN,6291415,3.117541e+06
12,YouView-Sony,NaN,NaN,682880,3.065624e+05
13,Freesat,NaN,NaN,490568,1.078651e+05
14,Android TV,NaN,NaN,65985,3.153030e+04

In [13]:
data_frame_browsers = pd.read_sql_query('''
SELECT
  platform_label,
  count(distinct browser_id) as browsers
FROM (
select browser_id, platform_id
from core.vw_viewing_combined
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int) and browser_id is not null
union ALL
select browser_id, platform_id
from core.vw_simulcast_viewing_combined
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int) AND browser_id is not null
union all
select browser_id,platform_id
from svv.core.vw_advertising_comscore
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int) and browser_id is not null
union all
select browser_id,platform_id
from svv.core.vw_browsing_combined
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int) and browser_id is not null
union all
select browser_id,platform_id
from svv.core.vw_unloaded_behaviour_combined
WHERE date_id >= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 month' as date) ,'YYYYMMDD') as int)
and date_id <= CAST(TO_CHAR(cast(date_trunc('month', current_date) - interval '1 day' as date) ,'YYYYMMDD') as int) and browser_id is not null) a
inner join core.platform p ON p.platform_id = a.platform_id
WHERE platform_name <> 'itv'
group by platform_label
''', engine)

In [14]:
vod_sim_platform_browsers = pd.merge(vod_sim_platform, data_frame_browsers, how="left", on = "platform_label")

In [15]:
vod_sim_platform_browsers

,platform_label,sim_requests,sim_consumption,vod_requests,vod_consumption,browsers
0,iOS,29517387.0,7.513275e+06,36702584,1.246101e+07,5718484
1,None,192.0,2.150222e-02,894,3.848493e+01,104939
2,Apple TV,246309.0,5.346692e+05,632421,2.610048e+05,70736
3,ITV.com,11157068.0,8.210472e+06,22586101,1.050035e+07,12403535
4,NowTV/Roku,2212767.0,3.047981e+06,7362000,3.541977e+06,698001
5,Amazon Fire TV,2773277.0,3.148672e+06,10879424,5.357048e+06,1011328
6,Samsung,1379322.0,1.237162e+06,9903915,4.684345e+06,1214985
7,Android,9121836.0,2.716919e+06,11620666,3.897773e+06,2373921
8,Chromecast,NaN,NaN,1753967,7.680551e+05,245781
9,Freeview Play,NaN,NaN,5955050,2.473751e+06,755610
10,Xbox,NaN,NaN,4726214,1.924424e+06,353717
11,YouView,NaN,NaN,6291415,3.117541e+06,909578
12,YouView-Sony,NaN,NaN,682880,3.065624e+05,88970
13,Freesat,NaN,NaN,490568,1.078651e+05,102192
14,Android TV,NaN,NaN,65985,3.153030e+04,11698

In [16]:
vod_sim_platform_browsers = vod_sim_platform_browsers.assign(total_requests = vod_sim_platform_browsers.sim_requests + vod_sim_platform_browsers.vod_requests)
vod_sim_platform_browsers

,platform_label,sim_requests,sim_consumption,vod_requests,vod_consumption,browsers,total_requests
0,iOS,29517387.0,7.513275e+06,36702584,1.246101e+07,5718484,66219971.0
1,None,192.0,2.150222e-02,894,3.848493e+01,104939,1086.0
2,Apple TV,246309.0,5.346692e+05,632421,2.610048e+05,70736,878730.0
3,ITV.com,11157068.0,8.210472e+06,22586101,1.050035e+07,12403535,33743169.0
4,NowTV/Roku,2212767.0,3.047981e+06,7362000,3.541977e+06,698001,9574767.0
5,Amazon Fire TV,2773277.0,3.148672e+06,10879424,5.357048e+06,1011328,13652701.0
6,Samsung,1379322.0,1.237162e+06,9903915,4.684345e+06,1214985,11283237.0
7,Android,9121836.0,2.716919e+06,11620666,3.897773e+06,2373921,20742502.0
8,Chromecast,NaN,NaN,1753967,7.680551e+05,245781,NaN
9,Freeview Play,NaN,NaN,5955050,2.473751e+06,755610,NaN
10,Xbox,NaN,NaN,4726214,1.924424e+06,353717,NaN
11,YouView,NaN,NaN,6291415,3.117541e+06,909578,NaN
12,YouView-Sony,NaN,NaN,682880,3.065624e+05,88970,NaN
13,Freesat,NaN,NaN,490568,1.078651e+05,102192,NaN
14,Android TV,NaN,NaN,65985,3.153030e+04,11698,NaN

In [17]:
vod_sim_platform_browsers = vod_sim_platform_browsers.assign(total_consumption = vod_sim_platform_browsers.sim_consumption + vod_sim_platform_browsers.vod_consumption)
vod_sim_platform_browsers

,platform_label,sim_requests,sim_consumption,vod_requests,vod_consumption,browsers,total_requests,total_consumption
0,iOS,29517387.0,7.513275e+06,36702584,1.246101e+07,5718484,66219971.0,1.997428e+07
1,None,192.0,2.150222e-02,894,3.848493e+01,104939,1086.0,3.850643e+01
2,Apple TV,246309.0,5.346692e+05,632421,2.610048e+05,70736,878730.0,7.956740e+05
3,ITV.com,11157068.0,8.210472e+06,22586101,1.050035e+07,12403535,33743169.0,1.871082e+07
4,NowTV/Roku,2212767.0,3.047981e+06,7362000,3.541977e+06,698001,9574767.0,6.589958e+06
5,Amazon Fire TV,2773277.0,3.148672e+06,10879424,5.357048e+06,1011328,13652701.0,8.505720e+06
6,Samsung,1379322.0,1.237162e+06,9903915,4.684345e+06,1214985,11283237.0,5.921507e+06
7,Android,9121836.0,2.716919e+06,11620666,3.897773e+06,2373921,20742502.0,6.614692e+06
8,Chromecast,NaN,NaN,1753967,7.680551e+05,245781,NaN,NaN
9,Freeview Play,NaN,NaN,5955050,2.473751e+06,755610,NaN,NaN
10,Xbox,NaN,NaN,4726214,1.924424e+06,353717,NaN,NaN
11,YouView,NaN,NaN,6291415,3.117541e+06,909578,NaN,NaN
12,YouView-Sony,NaN,NaN,682880,3.065624e+05,88970,NaN,NaN
13,Freesat,NaN,NaN,490568,1.078651e+05,102192,NaN,NaN
14,Android TV,NaN,NaN,65985,3.153030e+04,11698,NaN,NaN

In [18]:
vod_sim_platform_browsers = vod_sim_platform_browsers[['platform_label', 'sim_requests', 'vod_requests', 'total_requests', 'sim_consumption', 'vod_consumption', 'total_consumption', 'browsers']]
vod_sim_platform_browsers

,platform_label,sim_requests,vod_requests,total_requests,sim_consumption,vod_consumption,total_consumption,browsers
0,iOS,29517387.0,36702584,66219971.0,7.513275e+06,1.246101e+07,1.997428e+07,5718484
1,None,192.0,894,1086.0,2.150222e-02,3.848493e+01,3.850643e+01,104939
2,Apple TV,246309.0,632421,878730.0,5.346692e+05,2.610048e+05,7.956740e+05,70736
3,ITV.com,11157068.0,22586101,33743169.0,8.210472e+06,1.050035e+07,1.871082e+07,12403535
4,NowTV/Roku,2212767.0,7362000,9574767.0,3.047981e+06,3.541977e+06,6.589958e+06,698001
5,Amazon Fire TV,2773277.0,10879424,13652701.0,3.148672e+06,5.357048e+06,8.505720e+06,1011328
6,Samsung,1379322.0,9903915,11283237.0,1.237162e+06,4.684345e+06,5.921507e+06,1214985
7,Android,9121836.0,11620666,20742502.0,2.716919e+06,3.897773e+06,6.614692e+06,2373921
8,Chromecast,NaN,1753967,NaN,NaN,7.680551e+05,NaN,245781
9,Freeview Play,NaN,5955050,NaN,NaN,2.473751e+06,NaN,755610
10,Xbox,NaN,4726214,NaN,NaN,1.924424e+06,NaN,353717
11,YouView,NaN,6291415,NaN,NaN,3.117541e+06,NaN,909578
12,YouView-Sony,NaN,682880,NaN,NaN,3.065624e+05,NaN,88970
13,Freesat,NaN,490568,NaN,NaN,1.078651e+05,NaN,102192
14,Android TV,NaN,65985,NaN,NaN,3.153030e+04,NaN,11698

In [19]:
vod_sim_platform_browsers = vod_sim_platform_browsers.assign(avg_stream_duration = (vod_sim_platform_browsers.total_consumption / vod_sim_platform_browsers.total_requests)*60)
vod_sim_platform_browsers

,platform_label,sim_requests,vod_requests,total_requests,sim_consumption,vod_consumption,total_consumption,browsers,avg_stream_duration
0,iOS,29517387.0,36702584,66219971.0,7.513275e+06,1.246101e+07,1.997428e+07,5718484,18.098120
1,None,192.0,894,1086.0,2.150222e-02,3.848493e+01,3.850643e+01,104939,2.127427
2,Apple TV,246309.0,632421,878730.0,5.346692e+05,2.610048e+05,7.956740e+05,70736,54.328904
3,ITV.com,11157068.0,22586101,33743169.0,8.210472e+06,1.050035e+07,1.871082e+07,12403535,33.270422
4,NowTV/Roku,2212767.0,7362000,9574767.0,3.047981e+06,3.541977e+06,6.589958e+06,698001,41.295781
5,Amazon Fire TV,2773277.0,10879424,13652701.0,3.148672e+06,5.357048e+06,8.505720e+06,1011328,37.380382
6,Samsung,1379322.0,9903915,11283237.0,1.237162e+06,4.684345e+06,5.921507e+06,1214985,31.488340
7,Android,9121836.0,11620666,20742502.0,2.716919e+06,3.897773e+06,6.614692e+06,2373921,19.133734
8,Chromecast,NaN,1753967,NaN,NaN,7.680551e+05,NaN,245781,NaN
9,Freeview Play,NaN,5955050,NaN,NaN,2.473751e+06,NaN,755610,NaN
10,Xbox,NaN,4726214,NaN,NaN,1.924424e+06,NaN,353717,NaN
11,YouView,NaN,6291415,NaN,NaN,3.117541e+06,NaN,909578,NaN
12,YouView-Sony,NaN,682880,NaN,NaN,3.065624e+05,NaN,88970,NaN
13,Freesat,NaN,490568,NaN,NaN,1.078651e+05,NaN,102192,NaN
14,Android TV,NaN,65985,NaN,NaN,3.153030e+04,NaN,11698,NaN

In [20]:
vod_sim_platform_browsers.to_excel(r'C:\Users\ryanwala\Desktop\flash_dashboard_python\july_hub_figures.xlsx','summary')