# Connect to SVV Using psycopg2

In [1]:
import psycopg2

def get_svv_connection():
    con = psycopg2.connect(dbname = 'svv', host ='svv-rs-prod-bi.cjddijbnvfpr.eu-west-1.redshift.amazonaws.com', \
                         port = 5439, user = 'ryanw', password = 'hT6Y3TeZZUFdvLj')
    
    return con

# Import Pandas and Time

In [2]:
import pandas as pd

In [34]:
from time import time

# Query the sandbox.hubp_viewing_summary_es Table

In [3]:
query_data = "Select top 100 * from sandbox.hubp_viewing_summary_es"

df_viewing_summary = pd.DataFrame()

try: 
    con = get_svv_connection()

    cur = con.cursor()
    cur.execute(query_data)

    colnames = [desc[0] for desc in cur.description]
    df_viewing_summary = pd.DataFrame(cur.fetchall(), columns=colnames)
    
except Exception as inst:
    print(inst)
finally:
    cur.close()
    con.close()

# Check the Resulting Data Frame

In [4]:
df_viewing_summary.head()

,viewer_id,title,created,gender,age,barb,lifestage,days_since_last_view,target_hubplus,isp_list,...,number_of_weeks_monthly,total_visits_monthly,total_progs_monthly,short_subgenre_monthly_sg,total_streaming_monthly_sg,average_streaming_monthly_sg,medium_streaming_monthly_sg,number_of_days_monthly_sg,number_of_weeks_monthly_sg,total_visits_monthly_sg
0,00001235-b046-4591-96fe-172654977f54,None,2018-08-13 08:55:33.893,M,80.0,ad.axa.me,Active,71,0,Virgin Media,...,1,1,1,08-2018_CRIME AND THRILLER,39.6430000000,39.6430000000,39.64300000000,1,1,1
1,00005939-09b6-4550-9b42-5441089ffd15,Mr,2016-06-05 14:18:21.340,M,26.0,a3.ad.m3.me,Active,63,0,Virgin Media,...,1,1,1,09-2018_FACTUAL REALITY,2577.9520000000,2577.9520000000,2577.95200000000,1,1,1
2,000071d1-7452-4d64-a1c6-8c710f6a6755,Mrs,2018-06-17 18:51:44.544,F,30.0,a3.ad.axa.h5.hc.hw.w3.wo,Active,6,0,BT,...,"2,3,1,1","2,5,1,1","1,3,1,1","06-2018_LONG-RUNNING DRAMA,08-2018_CELEBRITY F...","5460.2280000000,24.0000000000,15113.1800000000...","1820.0760000000,24.0000000000,3022.6360000000,...","1339.48900000000,24.00000000000,2770.000000000...","2,1,4,1,1,1","2,1,2,1,1,1","2,1,4,1,1,1"
3,00007b23-89ce-451b-a034-1905c79f4f51,Miss,2018-07-14 17:16:04.943,F,27.0,a3.ad.axa.h5.hc.hw.w3.wo,Active,74,0,BT;Telefonica O2 UK,...,"2,1","3,1","1,1","07-2018_DATING SHOWS,08-2018_DATING SHOWS","4194.7970000000,1032.0710000000","1398.2656666666,1032.0710000000","1320.93600000000,1032.07100000000","2,1","2,1","3,1"
4,00008c05-80f7-4292-b6e0-2a11a4277483,Mrs,2013-01-02 00:00:00.000,F,NaN,ad.wo,Inactive,110,0,Virgin Media,...,1,1,1,07-2018_DATING SHOWS,3005.8590000000,3005.8590000000,3005.85900000000,1,1,1

# Restrict the Data Frame to the two necessary Columns

In [15]:
df_viewing_summary = df_viewing_summary.loc[:,['month_year_total','total_streaming_monthly']]
df_viewing_summary.head()

,month_year_total,total_streaming_monthly
0,08-2018,39.6430000000
1,09-2018,2577.9520000000
2,"06-2018,08-2018,09-2018,10-2018","5460.2280000000,16476.1800000000,2749.26700000..."
3,"07-2018,08-2018","4194.7970000000,1032.0710000000"
4,07-2018,3005.8590000000

# Convert the Data Frame to a Dictionary

In [30]:
def maximumConsumptionMonth(months, streaming):
    
    keys = months.split(',')
    values = [float(x) for x in streaming.split(',')]
    
    #splits the commma separated values on each line and converts the values from a string to a float
    
    vals_dict = dict(zip(keys,values))
    
    #combines key and values into a dictionary
    
    return Counter(vals_dict).most_common(1)[0][0]

    #returns the month on each row that corresponds to the highest consumption


#dict_viewing_summary = df_viewing_summary.set_index('month_year_total').transpose().to_dict(orient='list')
#dict_viewing_summary

# Create a new Column called max_month to store the month with the maximum consumption

In [35]:
start = time()
df_viewing_summary['max_month'] = list(map(maximumConsumptionMonth, df_viewing_summary['month_year_total'],
                                           df_viewing_summary['total_streaming_monthly']))
print(time()-start)

0.0039980411529541016

# Check that the Function has worked properly

In [33]:
df_viewing_summary[['max_month', 'month_year_total', 'total_streaming_monthly']]

,max_month,month_year_total,total_streaming_monthly
0,08-2018,08-2018,39.6430000000
1,09-2018,09-2018,2577.9520000000
2,08-2018,"06-2018,08-2018,09-2018,10-2018","5460.2280000000,16476.1800000000,2749.26700000..."
3,07-2018,"07-2018,08-2018","4194.7970000000,1032.0710000000"
4,07-2018,07-2018,3005.8590000000
5,10-2018,"08-2018,09-2018,10-2018","11616.1970000000,11339.5980000000,22509.091000..."
6,07-2018,"01-2018,04-2018,05-2018,07-2018,08-2018,09-201...","603.0320000000,3797.2110000000,6858.9940000000..."
7,06-2018,"06-2018,07-2018","28960.2470000000,24999.2580000000"
8,07-2018,07-2018,59531.1450000000
9,07-2018,"07-2018,08-2018","38226.4510000000,17802.9070000000"
10,09-2018,09-2018,2623.1320000000
11,08-2018,08-2018,594.5630000000
12,03-2018,03-2018,54.1800000000
13,07-2018,"06-2018,07-2018,08-2018,10-2018","3774.0450000000,10605.2730000000,2652.10300000..."
14,10-2018,"01-2018,06-2018,08-2018,09-2018,10-2018","3407.0360000000,14247.2350000000,8355.49000000..."
15,07-2018,07-2018,581.1860000000
16,06-2018,"01-2018,03-2018,04-2018,06-2018,07-2018","2338.8660000000,2738.1960000000,3427.528000000..."
17,02-2018,"01-2018,02-2018,06-2018,07-2018","10942.9920000000,46330.2820000000,2833.2390000..."
18,07-2018,07-2018,5391.7560000000
19,07-2018,07-2018,101.5510000000
20,07-2018,"07-2018,08-2018,09-2018","39252.2510000000,24200.6720000000,5746.2700000000"
21,06-2018,06-2018,5462.2680000000
22,07-2018,"02-2018,03-2018,06-2018,07-2018,08-2018","25694.0150000000,18814.8630000000,21836.402000..."
23,09-2018,09-2018,13163.3680000000
24,07-2018,07-2018,5443.0000000000
25,09-2018,09-2018,136.9560000000
26,07-2018,"01-2018,02-2018,04-2018,07-2018,08-2018","6818.1370000000,810.3080000000,2729.1200000000..."
27,06-2018,"06-2018,07-2018,08-2018,09-2018,10-2018","6942.0510000000,5028.5590000000,1358.000000000..."
28,07-2018,"06-2018,07-2018","13970.3040000000,14242.1670000000"
29,10-2018,10-2018,47.6260000000
...,...,...,...
70,05-2018,"01-2018,02-2018,03-2018,04-2018,05-2018,07-201...","2857.0670000000,5561.7570000000,6987.487000000..."
71,07-2018,"02-2018,03-2018,04-2018,06-2018,07-2018,09-2018","35209.2390000000,9514.3960000000,1288.19200000..."
72,06-2018,"03-2018,06-2018,07-2018","610.8370000000,2265.0660000000,586.0300000000"
73,10-2018,"10-2018,11-2018","16825.0320000000,7291.7960000000"
74,04-2018,"03-2018,04-2018","1803.2330000000,7939.4520000000"
75,09-2018,"01-2018,03-2018,04-2018,05-2018,06-2018,09-201...","1373.8380000000,14313.7060000000,13802.2590000..."
76,06-2018,"01-2018,02-2018,03-2018,04-2018,05-2018,06-201...","7799.4060000000,35613.6070000000,1287.17100000..."
77,06-2018,06-2018,2796.0000000000
78,02-2018,"01-2018,02-2018,03-2018,07-2018","4838.1690000000,6079.5170000000,4743.186000000..."
79,07-2018,"06-2018,07-2018","7819.7980000000,23109.2400000000"
80,07-2018,07-2018,24520.1460000000
81,06-2018,06-2018,1215.5390000000
82,04-2018,04-2018,4006.6150000000
83,06-2018,06-2018,2803.7780000000
84,06-2018,"05-2018,06-2018,07-2018","778.2160000000,10584.3400000000,2908.9570000000"
85,06-2018,06-2018,24.7100000000
86,07-2018,"02-2018,03-2018,06-2018,07-2018","4988.3980000000,2730.0500000000,3107.808000000..."
87,10-2018,"08-2018,09-2018,10-2018,11-2018","8373.3030000000,13842.5100000000,18963.1490000..."
88,03-2018,"01-2018,02-2018,03-2018,04-2018","34187.0440000000,38107.1880000000,38572.043000..."
89,09-2018,09-2018,6656.9660000000
90,07-2018,07-2018,118.4870000000
91,10-2018,"06-2018,10-2018","2806.1040000000,8068.6080000000"
92,07-2018,"03-2018,06-2018,07-2018","2945.2000000000,5479.9630000000,28441.0640000000"
93,07-2018,"02-2018,07-2018,08-2018","2763.7590000000,8426.0860000000,2740.6850000000"
94,07-2018,"07-2018,09-2018","2920.9140000000,1318.1810000000"
95,04-2018,04-2018,5572.2160000000
96,04-2018,"01-2018,02-2018,03-2018,04-2018,06-2018,08-2018","33132.9690000000,17635.9680000000,32282.094000..."
97,02-2018,"01-2018,02-2018,03-2018","6576.2240000000,9210.9540000000,796.9640000000"
98,04-2018,04-2018,236.5650000000
99,08-2018,"06-2018,07-2018,08-2018","60.3140000000,2715.5500000000,5400.8050000000"