In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('Hub+ Min Start Age.csv')
data.columns = ['viewer_id','start_month','16-24','25-34','35-44','45-54','55-64','65+']
data.head()

,viewer_id,start_month,16-24,25-34,35-44,45-54,55-64,65+
0,187a71c8-28b3-4b1b-9ac7-adbea2e6f266,12,0,1,0,0,0,0
1,24da3e43-a7b0-47f4-b1f6-0230c81c9757,7,0,0,0,1,0,0
2,2866707d-8efc-4977-930b-d2cb2bc52c77,7,1,0,0,0,0,0
3,28872d75-6f0d-4f26-8597-fc4563ecbd06,7,1,0,0,0,0,0
4,29fbbaf7-9901-4cec-add9-814696748b8a,6,1,0,0,0,0,0

In [8]:
df_clusters = pd.read_csv('cluster_simple_261018.csv')

In [9]:
df_clusters.head()

,Unnamed: 0,viewer_id,age,F,M,X,abc1,c2de,weekday_consumption,weekend_consumption,...,You're Only Young Twice,You've Been Framed!,Your Song,Yummy Mummies,Zoe Ball on...,easyJet: Inside The Cockpit,you've been t@gged,£10k Holiday Home,monthly_consumption,clusters
0,0,2b40fd16-539e-4457-b66e-da6dc893e92b,16.0,0,1,0,0,1,6.767297,0.860116,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.542471,3
1,1,3002dd33-7410-469b-9ed5-57f7b325fe41,52.0,1,0,0,1,0,7.918622,2.953172,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.744283,3
2,2,30f3ed67-2f88-405e-a120-6bc4b8119ba1,25.0,1,0,0,1,0,9.312764,2.267155,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.819280,3
3,3,55e11b3d-bfbb-4c7d-9548-e1c5f48f60d7,48.0,1,0,0,1,0,26.014405,7.307512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.352477,3
4,4,a01e1ae5-36a9-478c-92b4-ee0d61184ea7,35.0,1,0,0,1,0,128.907112,52.193565,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.206733,1

In [11]:
df_clusters2 = df_clusters.loc[:,['viewer_id','clusters']]

In [12]:
from functools import reduce

data2 = reduce(lambda left,right: pd.merge(left,right,on='viewer_id'), 
                  [data, df_clusters2])

data2.head()

,viewer_id,start_month,16-24,25-34,35-44,45-54,55-64,65+,clusters
0,0f57fad1-d9b3-45b8-aa60-404cde0ad33b,5,0,0,1,0,0,0,3
1,1d8d8621-98d2-413d-853e-303eb703779e,4,0,0,0,1,0,0,3
2,2c52c4e5-2ce2-43d3-a4ea-350fc06970e1,5,0,0,0,1,0,0,0
3,4bdc22bf-daf2-4ef3-b89c-0fc946cb1ef3,7,0,1,0,0,0,0,4
4,7cd7fb17-d1a2-4efd-a3b7-4cfeace6d0f7,9,0,1,0,0,0,0,0

In [17]:
data_jan = data2.loc[data2['start_month'] == 1]

In [25]:
Total = data_jan['65+'].sum()
print (Total)

905

In [26]:
data_feb = data2.loc[data2['start_month'] == 2]

In [32]:
Total = data_feb['65+'].sum()
print (Total)

703

In [33]:
data_mar = data2.loc[data2['start_month'] == 3]

In [39]:
Total = data_mar['65+'].sum()
print (Total)

858

In [40]:
data_apr = data2.loc[data2['start_month'] == 4]

In [46]:
Total = data_apr['55-64'].sum()
print (Total)

1350

In [47]:
data_may = data2.loc[data2['start_month'] == 5]

In [53]:
Total = data_may['55-64'].sum()
print (Total)

1912

In [54]:
data_jun = data2.loc[data2['start_month'] == 6]

In [60]:
Total = data_jun['55-64'].sum()
print (Total)

3364

In [61]:
data_jul = data2.loc[data2['start_month'] == 7]

In [67]:
Total = data_jul['55-64'].sum()
print (Total)

4123

In [69]:
data_aug = data2.loc[data2['start_month'] == 8]

In [75]:
Total = data_aug['55-64'].sum()
print (Total)

1740

In [76]:
data_sep = data2.loc[data2['start_month'] == 9]

In [82]:
Total = data_sep['55-64'].sum()
print (Total)

2366

In [83]:
data_oct = data2.loc[data2['start_month'] == 10]

In [89]:
Total = data_oct['55-64'].sum()
print (Total)

1153

In [90]:
data_nov = data2.loc[data2['start_month'] == 11]

In [97]:
Total = data_nov['65+'].sum()
print (Total)

304

In [98]:
data_dec = data2.loc[data2['start_month'] == 12]

In [104]:
Total = data_dec['55-64'].sum()
print (Total)

630