# Import Pandas Package

In [16]:
import pandas as pd

# Load the Clusters and Enddates csvs

In [17]:
df_clusters = pd.read_csv('cluster_simple_261018.csv')
df_enddates = pd.read_csv('Hub+ Segmentation Max End Dates.csv')

In [18]:
df_enddates.head()

   d7db662c-44a4-43cb-bdee-acefbb9817ad  2017-12-24 10:19:38.000000
0  09982208-a283-4e36-8a6c-758c4bbe15d9  2017-10-01 17:15:53.000000
1  00199fa2-b347-4e48-89ca-9f21e8396a94  2017-08-13 12:44:08.000000
2  040a420f-ee9b-45ad-9aa8-ffa9c7bc138f  2018-02-06 13:05:16.000000
3  05bf71e5-7ec6-4aa9-a17b-9a562d16e795  2017-08-15 21:11:34.000000
4  0680b9e8-ae5f-410a-aa9b-2e74a3dd24b4  2017-06-29 10:57:47.000000

# Add the column headers for the Enddates csv

In [19]:
df_enddates.columns = ['viewer_id','end_date']

# Check the data types of the Enddates csv and convert the end_date field to a datetime field

In [20]:
df_enddates.dtypes

viewer_id    object
end_date     object
dtype: object

In [21]:
df_enddates['end_date'] = pd.to_datetime(df_enddates['end_date'])

In [22]:
df_enddates.dtypes

viewer_id            object
end_date     datetime64[ns]
dtype: object

# Merge the Cluster and Enddates csvs

In [23]:
from functools import reduce

df_clusters2 = reduce(lambda left,right: pd.merge(left,right,on='viewer_id'), 
                  [df_enddates, df_clusters])

# Create a Subset of the Merged data frame for viewers of a specific cluster

In [24]:
data = df_clusters2.loc[df_clusters2['clusters'] == 0]

# Calculate the number of people in a cluster whose maximum enddate is in the past, i.e. they have churned

In [25]:
len(data[(data['end_date'] < '2018-10-28')])

11723

In [26]:
data_churn = data.loc[data['end_date'] < '2018-10-28']

In [27]:
len(data_churn)

11723

In [31]:
data_churn['end_date'] = data_churn.end_date.dt.to_period('M')
data_churn.head()

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,viewer_id,end_date,Unnamed: 0,age,F,M,X,abc1,c2de,weekday_consumption,...,You're Only Young Twice,You've Been Framed!,Your Song,Yummy Mummies,Zoe Ball on...,easyJet: Inside The Cockpit,you've been t@gged,Â£10k Holiday Home,monthly_consumption,clusters
12,3397a6a8-8658-4a9a-882b-1c6545caa36e,2017-12,113170,38.0,1,0,0,1,0,8.013338,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.116888,0
47,9629b11a-e393-4927-bb71-3f4309742a04,2017-04,121536,51.0,0,1,0,1,0,2.070570,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.808891,0
58,dd52f527-2cac-4f53-b73d-00308821892e,2018-03,245600,62.0,0,1,0,1,0,8.190209,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.799131,0
61,efd6b5b2-8566-42c0-b6bd-5076d817d257,2018-04,246463,42.0,0,1,0,1,0,0.000694,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000174,0
62,f5e286ff-cf1a-4afe-b18f-2f69467a6031,2017-10,246742,58.0,0,1,0,1,0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005958,0

In [32]:
data_churn.groupby('end_date').size()

end_date
2017-02      91
2017-03      95
2017-04     230
2017-05     267
2017-06     208
2017-07     167
2017-08     207
2017-09     179
2017-10     377
2017-11     537
2017-12     327
2018-01     346
2018-02     452
2018-03     530
2018-04     524
2018-05     635
2018-06     654
2018-07     679
2018-08    1530
2018-09    2080
2018-10    1608
Freq: M, dtype: int64

In [34]:
data1 = df_clusters2.loc[df_clusters2['clusters'] == 1]

In [35]:
len(data1[(data1['end_date'] < '2018-10-28')])

13054

In [36]:
data_churn1 = data1.loc[data1['end_date'] < '2018-10-28']

In [38]:
len(data_churn1)

13054

In [39]:
data_churn1['end_date'] = data_churn1.end_date.dt.to_period('M')

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
data_churn1.groupby('end_date').size()

end_date
2017-02      20
2017-03      48
2017-04     162
2017-05     209
2017-06     180
2017-07     135
2017-08     282
2017-09     282
2017-10     391
2017-11     483
2017-12     403
2018-01     391
2018-02     410
2018-03     689
2018-04     773
2018-05     835
2018-06     915
2018-07    1033
2018-08    1357
2018-09    1793
2018-10    2263
Freq: M, dtype: int64

In [42]:
data2 = df_clusters2.loc[df_clusters2['clusters'] == 2]

In [43]:
len(data2[(data2['end_date'] < '2018-10-28')])

126941

In [44]:
data_churn2 = data2.loc[data2['end_date'] < '2018-10-28']

In [45]:
len(data_churn2)

126941

In [46]:
data_churn2['end_date'] = data_churn2.end_date.dt.to_period('M')

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
data_churn2.groupby('end_date').size()

end_date
2017-02       13
2017-03        2
2017-04       15
2017-05       32
2017-06       56
2017-07     1648
2017-08     3549
2017-09     1603
2017-10      974
2017-11      675
2017-12      639
2018-01      496
2018-02      390
2018-03      359
2018-04      360
2018-05      311
2018-06      939
2018-07    18780
2018-08    57237
2018-09    26062
2018-10    12801
Freq: M, dtype: int64

In [48]:
data3 = df_clusters2.loc[df_clusters2['clusters'] == 3]

In [49]:
len(data3[(data3['end_date'] < '2018-10-28')])

14881

In [50]:
data_churn3 = data3.loc[data3['end_date'] < '2018-10-28']

In [51]:
data_churn3['end_date'] = data_churn3.end_date.dt.to_period('M')

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
data_churn3.groupby('end_date').size()

end_date
2017-02      50
2017-03      76
2017-04      88
2017-05     115
2017-06     142
2017-07     192
2017-08     226
2017-09     228
2017-10     282
2017-11     341
2017-12     333
2018-01     382
2018-02     444
2018-03     496
2018-04     521
2018-05     649
2018-06     996
2018-07    1872
2018-08    2487
2018-09    2537
2018-10    2424
Freq: M, dtype: int64

In [53]:
data4 = df_clusters2.loc[df_clusters2['clusters'] == 4]

In [54]:
len(data4[(data4['end_date'] < '2018-10-28')])

19564

In [55]:
data_churn4 = data4.loc[data4['end_date'] < '2018-10-28']

In [56]:
data_churn4['end_date'] = data_churn4.end_date.dt.to_period('M')

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
data_churn4.groupby('end_date').size()

end_date
2017-02      53
2017-03     116
2017-04     167
2017-05     241
2017-06     237
2017-07     237
2017-08     392
2017-09     336
2017-10     418
2017-11     534
2017-12     975
2018-01     980
2018-02     755
2018-03     816
2018-04     838
2018-05     963
2018-06    1257
2018-07    2137
2018-08    3243
2018-09    2508
2018-10    2361
Freq: M, dtype: int64