In [1]:
import pandas as pd

In [2]:
svv_credentials = open('svv_creds.json.txt').read()
import json
svv_creds = json.loads(svv_credentials)

In [3]:
import psycopg2

def get_svv_connection():
    con = psycopg2.connect(dbname = 'svv', host = 'svv-rs-prod-bi.cjddijbnvfpr.eu-west-1.redshift.amazonaws.com', \
                           port = 5439, user = svv_creds['user'], password = svv_creds['password'])
    return con

In [4]:
query_data = "Select * from sandbox.rw_indicia_groups"

df_indicia_group = pd.DataFrame()

try:
    con = get_svv_connection()
    
    cur = con.cursor()
    cur.execute(query_data)
    
    colnames = [desc[0] for desc in cur.description]
    df_indicia_group = pd.DataFrame(cur.fetchall(), columns = colnames)
    
except Exception as inst:
    print(inst)
finally:
    cur.close()
    con.close()

In [5]:
df_indicia_group.head()

,viewer_id,indicia_group,valid_from_inclusive,valid_to_exclusive,rank_list
0,00019362-f8d8-43cf-ae18-e3212353f6ff,108,2018-08-11 05:35:05,2018-08-20 13:36:58,1
1,00019362-f8d8-43cf-ae18-e3212353f6ff,108,2018-08-20 13:41:34,2019-01-17 10:29:54,2
2,00019362-f8d8-43cf-ae18-e3212353f6ff,108,2019-01-17 10:30:42,2019-03-20 16:30:38,3
3,00019362-f8d8-43cf-ae18-e3212353f6ff,108,2019-03-20 16:30:48,2019-06-03 12:06:33,4
4,00019362-f8d8-43cf-ae18-e3212353f6ff,108,2019-06-03 12:06:37,2019-07-02 15:47:46,5

In [6]:
df_indicia_group.dtypes

viewer_id                       object
indicia_group                    int64
valid_from_inclusive    datetime64[ns]
valid_to_exclusive      datetime64[ns]
rank_list                        int64
dtype: object

In [7]:
df_indicia_group = df_indicia_group.drop(['valid_from_inclusive','valid_to_exclusive'], axis = 1)
df_indicia_group.head()

                              viewer_id  indicia_group  rank_list
0  00019362-f8d8-43cf-ae18-e3212353f6ff            108          1
1  00019362-f8d8-43cf-ae18-e3212353f6ff            108          2
2  00019362-f8d8-43cf-ae18-e3212353f6ff            108          3
3  00019362-f8d8-43cf-ae18-e3212353f6ff            108          4
4  00019362-f8d8-43cf-ae18-e3212353f6ff            108          5

In [8]:
df_indicia_group['rank_list'].max()

18

In [9]:
df_indicia_group.set_index('viewer_id', inplace = True)
df_indicia_group.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          1
00019362-f8d8-43cf-ae18-e3212353f6ff            108          2
00019362-f8d8-43cf-ae18-e3212353f6ff            108          3
00019362-f8d8-43cf-ae18-e3212353f6ff            108          4
00019362-f8d8-43cf-ae18-e3212353f6ff            108          5

In [10]:
df_ig_1 = df_indicia_group[df_indicia_group.rank_list == 1]
df_ig_1.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          1
00020915-6ef7-4727-9523-e189f54e9403            107          1
0002a303-60cb-44ed-ad0b-c3bd963af452            103          1
0002df50-94e5-4efe-9834-8f09f9588b67            100          1
0003dae1-c52a-4904-945c-d68bc20ee5ca            103          1

In [11]:
df_ig_2 = df_indicia_group[df_indicia_group.rank_list == 2]
df_ig_2.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          2
00020915-6ef7-4727-9523-e189f54e9403            107          2
0002a303-60cb-44ed-ad0b-c3bd963af452            160          2
0002df50-94e5-4efe-9834-8f09f9588b67            145          2
0003dae1-c52a-4904-945c-d68bc20ee5ca            187          2

In [12]:
df_ig_3 = df_indicia_group[df_indicia_group.rank_list == 3]
df_ig_3.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          3
0002a303-60cb-44ed-ad0b-c3bd963af452            160          3
0002df50-94e5-4efe-9834-8f09f9588b67            145          3
0003dae1-c52a-4904-945c-d68bc20ee5ca            187          3
00069d87-c36e-4ef5-97d9-38fb4602978e            187          3

In [13]:
df_ig_4 = df_indicia_group[df_indicia_group.rank_list == 4]
df_ig_4.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          4
0002a303-60cb-44ed-ad0b-c3bd963af452            160          4
0002df50-94e5-4efe-9834-8f09f9588b67            145          4
0003dae1-c52a-4904-945c-d68bc20ee5ca            187          4
00069d87-c36e-4ef5-97d9-38fb4602978e            187          4

In [14]:
df_ig_5 = df_indicia_group[df_indicia_group.rank_list == 5]
df_ig_5.head()

                                      indicia_group  rank_list
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff            108          5
0002df50-94e5-4efe-9834-8f09f9588b67            145          5
0003dae1-c52a-4904-945c-d68bc20ee5ca            187          5
00069d87-c36e-4ef5-97d9-38fb4602978e            187          5
00079e40-bce0-498d-b72c-6544746a0757            199          5

In [15]:
df_ig_6 = df_indicia_group[df_indicia_group.rank_list == 6]
df_ig_6.head()

                                      indicia_group  rank_list
viewer_id
00069d87-c36e-4ef5-97d9-38fb4602978e            187          6
000b21ef-a51e-4667-84d2-edc27053b229            116          6
00146c4c-0157-4686-9ece-75929e579e94            171          6
00205bb4-489c-4a42-b5da-8465872f1d93            167          6
00247c8c-f095-4a97-924b-0aa714fdcb72            155          6

In [16]:
df_ig_7 = df_indicia_group[df_indicia_group.rank_list == 7]
df_ig_7.head()

                                      indicia_group  rank_list
viewer_id
0047cdf5-1232-4c3f-90bf-dc8cc84cd618            110          7
006d1b74-9f44-406e-82f9-608b5e1f3bee            166          7
0071370d-cfe3-40f4-9296-7e0c8e039db7            163          7
016e095f-530b-4d74-8c7c-ea236d5dc77f            197          7
01e19425-7a00-470c-8e77-c7b83ebd78b2            178          7

In [17]:
df_ig_8 = df_indicia_group[df_indicia_group.rank_list == 8]
df_ig_8.head()

                                      indicia_group  rank_list
viewer_id
001d1de9-fc16-404f-8739-0d37112014cf            187          8
002ddd9e-8d2e-4278-81fa-e7e5fec492b8            106          8
006afaca-dc67-4bf2-b493-e09713bde8fa            135          8
00a9395f-704e-41a5-8af9-7c47b254c997            110          8
045208d2-b3cc-478b-a563-234ee99fa213            147          8

In [18]:
df_ig_9 = df_indicia_group[df_indicia_group.rank_list == 9]
df_ig_9.head()

                                      indicia_group  rank_list
viewer_id
002ddd9e-8d2e-4278-81fa-e7e5fec492b8            106          9
02888706-f129-47ce-82e5-b3606a50c5e3            146          9
01300429-af93-4d63-9542-22480ca5685c            150          9
03365dc5-d5c1-4594-b315-bcac5a51b27f            184          9
016b8ca8-08d1-4f21-89c4-7dc3877fd8a3            180          9

In [19]:
df_ig_10 = df_indicia_group[df_indicia_group.rank_list == 10]
df_ig_10.head()

                                      indicia_group  rank_list
viewer_id
02888706-f129-47ce-82e5-b3606a50c5e3            146         10
01300429-af93-4d63-9542-22480ca5685c            150         10
33ff0ce8-efac-482d-b59b-d9f2a4e19f94            105         10
30b88ebd-c3b2-4053-a5a5-07168778d2fa            105         10
37eab047-9a4e-430a-b3a8-a64b25e9197f            188         10

In [20]:
df_ig_11 = df_indicia_group[df_indicia_group.rank_list == 11]
df_ig_11.head()

                                      indicia_group  rank_list
viewer_id
02888706-f129-47ce-82e5-b3606a50c5e3            146         11
30b88ebd-c3b2-4053-a5a5-07168778d2fa            105         11
37eab047-9a4e-430a-b3a8-a64b25e9197f            188         11
63a55141-c11a-44b2-a664-0c77d4111801            176         11
667e2f16-08cf-45ec-8a28-d0ffd3a09f63            198         11

In [21]:
df_ig_12 = df_indicia_group[df_indicia_group.rank_list == 12]
df_ig_12.head()

                                      indicia_group  rank_list
viewer_id
02888706-f129-47ce-82e5-b3606a50c5e3            146         12
37eab047-9a4e-430a-b3a8-a64b25e9197f            188         12
63a55141-c11a-44b2-a664-0c77d4111801            176         12
667e2f16-08cf-45ec-8a28-d0ffd3a09f63            198         12
87d15be7-c339-4aa4-937d-a82350874818            125         12

In [22]:
df_ig_13 = df_indicia_group[df_indicia_group.rank_list == 13]
df_ig_13.head()

                                      indicia_group  rank_list
viewer_id
02888706-f129-47ce-82e5-b3606a50c5e3            146         13
63a55141-c11a-44b2-a664-0c77d4111801            176         13
9d925ee9-99f9-4560-9029-57c9239af48b            101         13
dc0dd39b-47bc-4dde-b5f2-157d81069457            165         13

In [23]:
df_ig_14 = df_indicia_group[df_indicia_group.rank_list == 14]
df_ig_14.head()

                                      indicia_group  rank_list
viewer_id
02888706-f129-47ce-82e5-b3606a50c5e3            146         14
63a55141-c11a-44b2-a664-0c77d4111801            176         14
dc0dd39b-47bc-4dde-b5f2-157d81069457            165         14

In [24]:
df_ig_15 = df_indicia_group[df_indicia_group.rank_list == 15]
df_ig_15.head()

                                      indicia_group  rank_list
viewer_id
63a55141-c11a-44b2-a664-0c77d4111801            176         15

In [25]:
df_ig_16 = df_indicia_group[df_indicia_group.rank_list == 16]
df_ig_16.head()

                                      indicia_group  rank_list
viewer_id
63a55141-c11a-44b2-a664-0c77d4111801            176         16

In [26]:
df_ig_17 = df_indicia_group[df_indicia_group.rank_list == 17]
df_ig_17.head()

                                      indicia_group  rank_list
viewer_id
63a55141-c11a-44b2-a664-0c77d4111801            176         17

In [27]:
df_ig_18 = df_indicia_group[df_indicia_group.rank_list == 18]
df_ig_18.head()

                                      indicia_group  rank_list
viewer_id
63a55141-c11a-44b2-a664-0c77d4111801            183         18

In [28]:
df_merged_1 = df_ig_1.merge(df_ig_2, on = 'viewer_id', how = 'left', suffixes = ('_1','_2'))
df_merged_1.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2
viewer_id,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0

In [29]:
df_merged_2 = df_merged_1.merge(df_ig_3, on = 'viewer_id', how = 'left', suffixes = ('_2','_3'))
df_merged_2.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group,rank_list
viewer_id,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0

In [30]:
df_merged_3 = df_merged_2.merge(df_ig_4, on = 'viewer_id', how = 'left', suffixes = ('_3','_4'))
df_merged_3.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4
viewer_id,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0

In [31]:
df_merged_4 = df_merged_3.merge(df_ig_5, on = 'viewer_id', how = 'left', suffixes = ('_4','_5'))
df_merged_4.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group,rank_list
viewer_id,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0

In [32]:
df_merged_5 = df_merged_4.merge(df_ig_6, on = 'viewer_id', how = 'left', suffixes = ('_5','_6'))
df_merged_5.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,indicia_group_6,rank_list_6
viewer_id,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,NaN,NaN

In [33]:
df_merged_6 = df_merged_5.merge(df_ig_7, on = 'viewer_id', how = 'left', suffixes = ('_6','_7'))
df_merged_6.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,indicia_group_6,rank_list_6,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,NaN,NaN,NaN,NaN

In [34]:
df_merged_7 = df_merged_6.merge(df_ig_8, on = 'viewer_id', how = 'left', suffixes = ('_7','_8'))
df_merged_7.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,indicia_group_6,rank_list_6,indicia_group_7,rank_list_7,indicia_group_8,rank_list_8
viewer_id,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_merged_8 = df_merged_7.merge(df_ig_9, on = 'viewer_id', how = 'left', suffixes = ('_8','_9'))
df_merged_8.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,indicia_group_6,rank_list_6,indicia_group_7,rank_list_7,indicia_group_8,rank_list_8,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_merged_9 = df_merged_8.merge(df_ig_10, on = 'viewer_id', how = 'left', suffixes = ('_9','_10'))
df_merged_9.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,indicia_group_6,rank_list_6,indicia_group_7,rank_list_7,indicia_group_8,rank_list_8,indicia_group_9,rank_list_9,indicia_group_10,rank_list_10
viewer_id,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_merged_10 = df_merged_9.merge(df_ig_11, on = 'viewer_id', how = 'left', suffixes = ('_10','_11'))
df_merged_10.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_7,rank_list_7,indicia_group_8,rank_list_8,indicia_group_9,rank_list_9,indicia_group_10,rank_list_10,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_merged_11 = df_merged_10.merge(df_ig_12, on = 'viewer_id', how = 'left', suffixes = ('_11','_12'))
df_merged_11.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_8,rank_list_8,indicia_group_9,rank_list_9,indicia_group_10,rank_list_10,indicia_group_11,rank_list_11,indicia_group_12,rank_list_12
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_merged_12 = df_merged_11.merge(df_ig_13, on = 'viewer_id', how = 'left', suffixes = ('_12','_13'))
df_merged_12.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_9,rank_list_9,indicia_group_10,rank_list_10,indicia_group_11,rank_list_11,indicia_group_12,rank_list_12,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_merged_13 = df_merged_12.merge(df_ig_14, on = 'viewer_id', how = 'left', suffixes = ('_13','_14'))
df_merged_13.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_10,rank_list_10,indicia_group_11,rank_list_11,indicia_group_12,rank_list_12,indicia_group_13,rank_list_13,indicia_group_14,rank_list_14
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_merged_14 = df_merged_13.merge(df_ig_15, on = 'viewer_id', how = 'left', suffixes = ('_14','_15'))
df_merged_14.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_11,rank_list_11,indicia_group_12,rank_list_12,indicia_group_13,rank_list_13,indicia_group_14,rank_list_14,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_merged_15 = df_merged_14.merge(df_ig_16, on = 'viewer_id', how = 'left', suffixes = ('_15','_16'))
df_merged_15.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_12,rank_list_12,indicia_group_13,rank_list_13,indicia_group_14,rank_list_14,indicia_group_15,rank_list_15,indicia_group_16,rank_list_16
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_merged_16 = df_merged_15.merge(df_ig_17, on = 'viewer_id', how = 'left', suffixes = ('_16','_17'))
df_merged_16.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_13,rank_list_13,indicia_group_14,rank_list_14,indicia_group_15,rank_list_15,indicia_group_16,rank_list_16,indicia_group,rank_list
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_merged_17 = df_merged_16.merge(df_ig_18, on = 'viewer_id', how = 'left', suffixes = ('_17','_18'))
df_merged_17.head()

,indicia_group_1,rank_list_1,indicia_group_2,rank_list_2,indicia_group_3,rank_list_3,indicia_group_4,rank_list_4,indicia_group_5,rank_list_5,...,indicia_group_14,rank_list_14,indicia_group_15,rank_list_15,indicia_group_16,rank_list_16,indicia_group_17,rank_list_17,indicia_group_18,rank_list_18
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,1,108.0,2.0,108.0,3.0,108.0,4.0,108.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,1,107.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,1,160.0,2.0,160.0,3.0,160.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,1,145.0,2.0,145.0,3.0,145.0,4.0,145.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,1,187.0,2.0,187.0,3.0,187.0,4.0,187.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_merged_17_reduced = df_merged_17.drop(['rank_list_1','rank_list_2','rank_list_3','rank_list_4','rank_list_5',
                                          'rank_list_6','rank_list_7','rank_list_8','rank_list_9','rank_list_10',
                                          'rank_list_11','rank_list_12','rank_list_13','rank_list_14','rank_list_15',
                                          'rank_list_16','rank_list_17','rank_list'], axis = 1)
df_merged_17_reduced.head()

,indicia_group_1,indicia_group_2,indicia_group_3,indicia_group_4,indicia_group_5,indicia_group_6,indicia_group_7,indicia_group_8,indicia_group_9,indicia_group_10,indicia_group_11,indicia_group_12,indicia_group_13,indicia_group_14,indicia_group_15,indicia_group_16,indicia_group_17,indicia_group_18
viewer_id,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108,108.0,108.0,108.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00020915-6ef7-4727-9523-e189f54e9403,107,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002a303-60cb-44ed-ad0b-c3bd963af452,103,160.0,160.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002df50-94e5-4efe-9834-8f09f9588b67,100,145.0,145.0,145.0,145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003dae1-c52a-4904-945c-d68bc20ee5ca,103,187.0,187.0,187.0,187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df = df_merged_17_reduced.ffill(axis = 1)
df.head()

,indicia_group_1,indicia_group_2,indicia_group_3,indicia_group_4,indicia_group_5,indicia_group_6,indicia_group_7,indicia_group_8,indicia_group_9,indicia_group_10,indicia_group_11,indicia_group_12,indicia_group_13,indicia_group_14,indicia_group_15,indicia_group_16,indicia_group_17,indicia_group_18
viewer_id,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0
0002a303-60cb-44ed-ad0b-c3bd963af452,103.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0
0002df50-94e5-4efe-9834-8f09f9588b67,100.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0

In [47]:
df_rename = df.rename(columns = {df.columns[0]:"Group_1", df.columns[1]:"Group_2", df.columns[2]:"Group_3",
                                 df.columns[3]:"Group_4", df.columns[4]:"Group_5", df.columns[5]:"Group_6",
                                 df.columns[6]:"Group_7", df.columns[7]:"Group_8", df.columns[8]:"Group_9",
                                 df.columns[9]:"Group_10", df.columns[10]:"Group_11", df.columns[11]:"Group_12",
                                 df.columns[12]:"Group_13", df.columns[13]:"Group_14", df.columns[14]:"Group_15",
                                 df.columns[15]:"Group_16", df.columns[16]:"Group_17", df.columns[17]:"Group_18"})
df_rename.head()

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,Group_11,Group_12,Group_13,Group_14,Group_15,Group_16,Group_17,Group_18
viewer_id,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0
0002a303-60cb-44ed-ad0b-c3bd963af452,103.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0
0002df50-94e5-4efe-9834-8f09f9588b67,100.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0

In [48]:
df_rename_reduced = df_rename.loc[:,['Group_1','Group_18']]
df_rename_reduced.head()

                                      Group_1  Group_18
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff    108.0     108.0
00020915-6ef7-4727-9523-e189f54e9403    107.0     107.0
0002a303-60cb-44ed-ad0b-c3bd963af452    103.0     160.0
0002df50-94e5-4efe-9834-8f09f9588b67    100.0     145.0
0003dae1-c52a-4904-945c-d68bc20ee5ca    103.0     187.0

In [50]:
import numpy as np

def conditions(x):
    if x < 100 or x > 109:
        return 1
    else:
        return 0
    
func = np.vectorize(conditions)
change = func(df_rename_reduced['Group_18'])

df_rename_reduced['change'] = change

df_rename_reduced.head()

                                      Group_1  Group_18  change
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff    108.0     108.0       0
00020915-6ef7-4727-9523-e189f54e9403    107.0     107.0       0
0002a303-60cb-44ed-ad0b-c3bd963af452    103.0     160.0       1
0002df50-94e5-4efe-9834-8f09f9588b67    100.0     145.0       1
0003dae1-c52a-4904-945c-d68bc20ee5ca    103.0     187.0       1

In [51]:
len(df_rename_reduced)

2609108

In [52]:
df_rename_reduced['change'].sum()

1353247

In [53]:
df_rename_reduced['change'].sum()/len(df_rename_reduced)

0.5186627000492122

In [54]:
import gc

del [[df_ig_1, df_ig_2, df_ig_3, df_ig_4, df_ig_5, df_ig_6, df_ig_7, df_ig_8, df_ig_9, df_ig_10, df_ig_11, df_ig_12,
      df_ig_13, df_ig_14, df_ig_15, df_ig_17, df_ig_18, df_merged_1, df_merged_2, df_merged_3, df_merged_4, df_merged_5,
      df_merged_6, df_merged_7, df_merged_8, df_merged_9, df_merged_10, df_merged_11, df_merged_12, df_merged_13,
      df_merged_14, df_merged_15, df_merged_16]]

gc.collect()

176

In [55]:
df_ig_1.head()

NameError: name 'df_ig_1' is not defined

In [57]:
df_rename_reduced['same'] = np.where(df_rename_reduced['Group_1'] == df_rename_reduced['Group_18'], 1, 0)
df_rename_reduced.head()

                                      Group_1  Group_18  change  same
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff    108.0     108.0       0     1
00020915-6ef7-4727-9523-e189f54e9403    107.0     107.0       0     1
0002a303-60cb-44ed-ad0b-c3bd963af452    103.0     160.0       1     0
0002df50-94e5-4efe-9834-8f09f9588b67    100.0     145.0       1     0
0003dae1-c52a-4904-945c-d68bc20ee5ca    103.0     187.0       1     0

In [60]:
df_rename_reduced_same = df_rename_reduced[df_rename_reduced.same == 1]
df_rename_reduced_same.head()

                                      Group_1  Group_18  change  same
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff    108.0     108.0       0     1
00020915-6ef7-4727-9523-e189f54e9403    107.0     107.0       0     1
0005b9f4-d595-4b4a-88fc-3da12fc4b183    109.0     109.0       0     1
0007e594-ed8f-4d58-9812-f118e639841d    100.0     100.0       0     1
000b56d4-a814-4635-ba10-68e6704143f6    106.0     106.0       0     1

In [66]:
df_rename_reduced_same.groupby('Group_1')['same'].sum()

Group_1
100.0    112647
101.0    111588
102.0    112141
103.0    112289
104.0    112284
105.0    111927
106.0    111992
107.0    112355
108.0    111971
109.0    111463
Name: same, dtype: int32

In [67]:
len(df_rename_reduced_same)

1120657

In [68]:
len(df_rename_reduced_same)/len(df_rename_reduced)

0.4295172909668745

In [70]:
df_unchanged = df_rename_reduced_same.loc[:,['Group_1']]
df_unchanged.head()

                                      Group_1
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff    108.0
00020915-6ef7-4727-9523-e189f54e9403    107.0
0005b9f4-d595-4b4a-88fc-3da12fc4b183    109.0
0007e594-ed8f-4d58-9812-f118e639841d    100.0
000b56d4-a814-4635-ba10-68e6704143f6    106.0

In [77]:
df_unchanged['Group_1'] = df_unchanged['Group_1'].astype(int)
df_unchanged.head()

                                      Group_1
viewer_id
00019362-f8d8-43cf-ae18-e3212353f6ff      108
00020915-6ef7-4727-9523-e189f54e9403      107
0005b9f4-d595-4b4a-88fc-3da12fc4b183      109
0007e594-ed8f-4d58-9812-f118e639841d      100
000b56d4-a814-4635-ba10-68e6704143f6      106

In [72]:
import json
s3_credentials = open('creds.json').read()
s3_creds = json.loads(s3_credentials)

In [78]:
import boto3
from io import StringIO

def df_to_s3(df, bucket, key, s3_access_key, s3_secret_key):
    session = boto3.Session(aws_access_key_id = s3_access_key, aws_secret_access_key = s3_secret_key)
    s3 = session.resource('s3')
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    s3.Object(bucket, key).put(ServerSideEncryption = 'AES256', Body = csv_buffer.getvalue()[1:])
    return print('Successfully Uploaded Data to S3 Bucket!')

if __name__ == '__main__':
    file = ''
    bucket_name = 'svv-s3-dev-scratch'
    s3_access_key = s3_creds['access_key']
    s3_secret_key = s3_creds['secret_key']
    indicia_group_key = 'indicia_group_rw.csv'
    
    df_to_s3(df_unchanged, bucket_name, indicia_group_key, s3_access_key, s3_secret_key)

Successfully Uploaded Data to S3 Bucket!

In [80]:
df_rename['same'] = np.where(df_rename['Group_1'] == df_rename['Group_18'], 1, 0)
df_rename['change_1'] = np.where(df_rename['Group_1'] == df_rename['Group_2'], 0, 1)
df_rename['change_2'] = np.where(df_rename['Group_2'] == df_rename['Group_3'], 0, 1)
df_rename['change_3'] = np.where(df_rename['Group_3'] == df_rename['Group_4'], 0, 1)
df_rename['change_4'] = np.where(df_rename['Group_4'] == df_rename['Group_5'], 0, 1)
df_rename['change_5'] = np.where(df_rename['Group_5'] == df_rename['Group_6'], 0, 1)
df_rename['change_6'] = np.where(df_rename['Group_6'] == df_rename['Group_7'], 0, 1)
df_rename['change_7'] = np.where(df_rename['Group_7'] == df_rename['Group_8'], 0, 1)
df_rename['change_8'] = np.where(df_rename['Group_8'] == df_rename['Group_9'], 0, 1)
df_rename['change_9'] = np.where(df_rename['Group_9'] == df_rename['Group_10'], 0, 1)
df_rename['change_10'] = np.where(df_rename['Group_10'] == df_rename['Group_11'], 0, 1)
df_rename['change_11'] = np.where(df_rename['Group_11'] == df_rename['Group_12'], 0, 1)
df_rename['change_12'] = np.where(df_rename['Group_12'] == df_rename['Group_13'], 0, 1)
df_rename['change_13'] = np.where(df_rename['Group_13'] == df_rename['Group_14'], 0, 1)
df_rename['change_14'] = np.where(df_rename['Group_14'] == df_rename['Group_15'], 0, 1)
df_rename['change_15'] = np.where(df_rename['Group_15'] == df_rename['Group_16'], 0, 1)
df_rename['change_16'] = np.where(df_rename['Group_16'] == df_rename['Group_17'], 0, 1)
df_rename['change_17'] = np.where(df_rename['Group_17'] == df_rename['Group_18'], 0, 1)
df_rename.head()

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,...,change_8,change_9,change_10,change_11,change_12,change_13,change_14,change_15,change_16,change_17
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,...,0,0,0,0,0,0,0,0,0,0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,...,0,0,0,0,0,0,0,0,0,0
0002a303-60cb-44ed-ad0b-c3bd963af452,103.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,...,0,0,0,0,0,0,0,0,0,0
0002df50-94e5-4efe-9834-8f09f9588b67,100.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,...,0,0,0,0,0,0,0,0,0,0
0003dae1-c52a-4904-945c-d68bc20ee5ca,103.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
df_rename_same = df_rename[df_rename.same == 1]
df_rename_same['no_changes'] = df_rename_same.loc[:,['change_1','change_2','change_3','change_4','change_5','change_6',
                                                     'change_7','change_8','change_9','change_10','change_11','change_12',
                                                     'change_13','change_14','change_15','change_16',
                                                     'change_17']].sum(axis=1)
df_rename_same.head()

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,...,change_9,change_10,change_11,change_12,change_13,change_14,change_15,change_16,change_17,no_changes
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,...,0,0,0,0,0,0,0,0,0,0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,...,0,0,0,0,0,0,0,0,0,0
0005b9f4-d595-4b4a-88fc-3da12fc4b183,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,...,0,0,0,0,0,0,0,0,0,0
0007e594-ed8f-4d58-9812-f118e639841d,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
000b56d4-a814-4635-ba10-68e6704143f6,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
df_rename_same.groupby('no_changes')['same'].sum()

no_changes
0    1120657
Name: same, dtype: int32

There are no instances of people moving out of groups 100-109 and then moving back into the group that they started in.

In [91]:
def conditions(x):
    if x < 100 or x > 109:
        return 1
    else:
        return 0
    
func = np.vectorize(conditions)
change_100_109 = func(df_rename['Group_18'])

df_rename['change_100_109'] = change_100_109

df_rename.head()

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,...,change_10,change_11,change_12,change_13,change_14,change_15,change_16,change_17,change,change_100_109
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,...,0,0,0,0,0,0,0,0,0,0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,...,0,0,0,0,0,0,0,0,0,0
0002a303-60cb-44ed-ad0b-c3bd963af452,103.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,160.0,...,0,0,0,0,0,0,0,0,1,1
0002df50-94e5-4efe-9834-8f09f9588b67,100.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,145.0,...,0,0,0,0,0,0,0,0,1,1
0003dae1-c52a-4904-945c-d68bc20ee5ca,103.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,187.0,...,0,0,0,0,0,0,0,0,1,1

In [93]:
df_rename_100_109 = df_rename[df_rename.change_100_109 == 0]
df_rename_100_109.head()

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,...,change_10,change_11,change_12,change_13,change_14,change_15,change_16,change_17,change,change_100_109
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,...,0,0,0,0,0,0,0,0,0,0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,...,0,0,0,0,0,0,0,0,0,0
0005b9f4-d595-4b4a-88fc-3da12fc4b183,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,...,0,0,0,0,0,0,0,0,0,0
0007e594-ed8f-4d58-9812-f118e639841d,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
000b56d4-a814-4635-ba10-68e6704143f6,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,...,0,0,0,0,0,0,0,0,0,0

In [94]:
df_rename_100_109['no_changes'] = df_rename_100_109.loc[:,['change_1','change_2','change_3','change_4','change_5',
                                                           'change_6','change_7','change_8','change_9','change_10',
                                                           'change_11','change_12','change_13','change_14','change_15',
                                                           'change_16','change_17']].sum(axis=1)
df_rename_100_109.head()

C:\Users\ryanwala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Group_1,Group_2,Group_3,Group_4,Group_5,Group_6,Group_7,Group_8,Group_9,Group_10,...,change_11,change_12,change_13,change_14,change_15,change_16,change_17,change,change_100_109,no_changes
viewer_id,,,,,,,,,,,,,,,,,,,,,
00019362-f8d8-43cf-ae18-e3212353f6ff,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,108.0,...,0,0,0,0,0,0,0,0,0,0
00020915-6ef7-4727-9523-e189f54e9403,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,107.0,...,0,0,0,0,0,0,0,0,0,0
0005b9f4-d595-4b4a-88fc-3da12fc4b183,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,109.0,...,0,0,0,0,0,0,0,0,0,0
0007e594-ed8f-4d58-9812-f118e639841d,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
000b56d4-a814-4635-ba10-68e6704143f6,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,106.0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
df_rename_100_109.groupby('no_changes')['change_100_109'].agg('count')

no_changes
0    1120657
1     135203
2          1
Name: change_100_109, dtype: int64

There are a total of 135,204 users who have changed but still ended up in another of the groups 100 to 109.