# set-up environment

In [2]:
import pandas as pd
import seaborn as sns
import sklearn as skl
import numpy as np
import matplotlib as mpl

# generate customer data

In [3]:
# create age data
age = np.random.poisson(30,10000)

In [4]:
age

array([22, 28, 34, ..., 30, 40, 25])

In [5]:
#create gender data
gender = np.random.binomial(1,0.5,10000)

In [6]:
gender

array([0, 0, 1, ..., 0, 0, 0])

In [7]:
#create hubplus tenure data
hubplus_tenure = np.random.negative_binomial(12,0.5,10000)

In [8]:
#create the number of hours watched per. day
one_day_hours = np.random.negative_binomial(2,0.5,10000)

In [9]:
hubplus_tenure

array([16, 17,  6, ...,  6, 15,  4])

In [10]:
one_day_hours

array([2, 5, 1, ..., 1, 2, 1])

In [11]:
#create the number of hours watched in 7 days
seven_day_hours = np.random.negative_binomial(10,0.5,10000)

In [12]:
seven_day_hours

array([15, 10, 12, ..., 11,  7,  7])

In [13]:
#create the number of hours watched in 30 days
thirty_day_hours = np.random.negative_binomial(30,0.5,10000)

In [14]:
thirty_day_hours

array([24, 31, 35, ..., 21, 39, 41])

In [15]:
#create affluent data
affluent = np.random.binomial(1,0.1,10000)

In [16]:
affluent

array([0, 0, 1, ..., 0, 0, 0])

In [17]:
#count the number of ones on the affluent vector, to check
unique, counts = np.unique(affluent, return_counts=True)
dict(zip(unique, counts))

{0: 8982, 1: 1018}

In [18]:
indicia_group = np.random.randint(0,200,10000)

In [19]:
indicia_group

array([ 83,   3, 140, ..., 132,  69, 151])

In [20]:
total_viewing_time = []
for i in range(10000):
    total_viewing_time.append(age[i]+np.random.normal(0,10,1)[0])

In [21]:
lin_pred = 0.8*age+5.6*gender+3*affluent+0.21*seven_day_hours+0.15*hubplus_tenure-25

In [22]:
lin_pred

array([ -1.85,   2.05,  14.22, ...,   2.21,  10.72,  -2.93])

In [23]:
import math
churn = []
for i in range(10000):
    churn.append(np.random.binomial(1,1/(1+math.exp(-lin_pred[i])),1)[0])

In [24]:
customer_data = pd.DataFrame({"age":age,"gender":gender,"hubplus_tenure":hubplus_tenure,"one_day_hours":one_day_hours,"seven_day_hours":seven_day_hours,"thirty_day_hours":thirty_day_hours,"affluent":affluent,"indicia_group":indicia_group,"churn":churn,"total_viewing_time":total_viewing_time})

# append all of the customer data in a dataframe

In [25]:
customer_data

,affluent,age,churn,gender,hubplus_tenure,indicia_group,one_day_hours,seven_day_hours,thirty_day_hours,total_viewing_time
0,0,22,1,0,16,83,2,15,24,38.982798
1,0,28,1,0,17,3,5,10,31,7.602521
2,1,34,1,1,6,140,1,12,35,49.776215
3,0,27,1,1,11,167,2,14,24,43.137320
4,0,19,0,1,6,13,0,15,31,9.540763
5,0,28,1,0,15,118,2,14,28,29.025661
6,0,27,1,1,12,32,2,13,34,28.055735
7,0,35,1,1,12,193,1,14,22,40.827695
8,0,32,1,0,17,5,6,12,32,45.205519
9,0,30,1,1,13,51,1,7,19,36.667317
10,0,28,1,1,9,42,3,5,36,29.634458
11,0,27,1,1,13,26,6,20,17,19.667658
12,0,32,1,0,12,74,1,17,32,13.134040
13,0,25,0,0,11,181,0,12,30,22.411678
14,0,23,1,1,12,190,1,4,38,18.471217
15,0,31,1,0,9,173,1,6,27,26.816873
16,1,35,1,0,4,41,3,4,29,37.582702
17,0,27,1,1,12,67,1,7,22,10.617833
18,0,26,0,0,8,137,1,5,19,12.905091
19,1,27,1,0,17,43,0,4,37,38.356740
20,0,29,1,1,15,182,0,12,23,28.036452
21,0,30,1,0,5,112,1,4,38,41.238899
22,0,37,1,1,13,110,3,9,30,45.448879
23,0,36,1,1,14,84,1,10,22,40.432628
24,0,35,1,1,9,153,0,5,34,32.803609
25,0,38,1,0,13,193,1,16,31,32.593228
26,0,20,1,1,13,160,0,7,27,8.129537
27,0,18,0,1,18,45,4,6,37,32.085000
28,1,34,1,1,10,122,1,8,26,34.870410
29,0,24,1,1,15,155,5,12,27,29.954460
...,...,...,...,...,...,...,...,...,...,...
9970,0,29,1,0,9,10,3,5,20,30.878746
9971,1,26,1,1,7,168,2,21,26,15.748334
9972,0,35,1,1,14,132,1,9,35,31.715538
9973,0,34,1,0,24,102,1,10,35,30.516571
9974,1,30,1,1,12,51,2,12,29,28.733205
9975,0,21,0,0,19,22,1,10,34,15.108869
9976,0,22,1,1,3,196,3,17,28,24.520601
9977,0,31,1,0,8,49,1,17,28,49.103902
9978,0,26,0,0,17,3,0,3,40,20.199180
9979,0,30,1,1,10,110,6,4,21,34.400387
9980,1,27,1,1,7,79,1,13,34,21.320624
9981,0,34,1,1,14,150,2,7,23,30.365726
9982,0,29,1,0,11,45,4,17,26,28.273346
9983,0,29,1,1,11,18,0,3,28,29.201622
9984,0,37,1,1,18,39,3,10,36,44.819747
9985,0,25,0,0,8,192,3,17,46,13.674559
9986,0,28,1,1,18,156,1,10,25,23.265600
9987,0,35,1,1,11,76,1,14,32,26.907471
9988,0,24,1,1,13,106,1,6,30,36.592884
9989,0,28,1,0,10,53,3,7,36,23.162106
9990,0,32,1,0,14,86,0,11,25,23.488949
9991,0,29,0,0,16,37,2,12,24,54.865702
9992,0,40,1,0,16,33,0,7,42,27.166447
9993,0,27,1,1,7,32,3,8,29,22.434517
9994,0,39,1,0,9,138,4,17,33,22.730023
9995,0,30,1,1,10,134,5,8,31,30.561734
9996,0,31,1,1,14,117,1,5,40,27.346041
9997,0,30,1,0,6,132,1,11,21,36.498912
9998,0,40,1,0,15,69,2,7,39,48.799387
9999,0,25,0,0,4,151,1,7,41,38.662525

In [26]:
churn[1]

1

# split the dataframe into training and test sets

In [27]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(customer_data.loc[:,['affluent','age','gender','hubplus_tenure','indicia_group','one_day_hours','seven_day_hours','thirty_day_hours','total_viewing_time']], customer_data['churn'], test_size=0.2, random_state=42)

# use feature union, pipeline and gridsearch to find the best features and model

In [28]:
# Create a pipeline that extracts features from the data then creates a model
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV

X = X_train 
Y = y_train

# create feature union
features = []
features.append(('pca', PCA(n_components=8))) #calculate x principal components
features.append(('select_best', SelectKBest(k=4))) #find the best y principal components
feature_union = FeatureUnion(features)

# create pipeline
estimators = []
estimators.append(('feature_union', feature_union))
estimators.append(('logistic', LogisticRegression())) #add a logistic regression model to the pipeline
model = Pipeline(estimators)

# set up gridsearch to find the best parameter values specified in the ranges below
parameters = {'feature_union__pca__n_components':[6, 8], 'feature_union__select_best__k':[2, 5]}
clf = GridSearchCV(model, parameters)
model2 = clf.fit(X, Y)

sorted(clf.cv_results_.keys())

# evaluate pipeline
#seed = 7
#kfold = KFold(n_splits=10, random_state=seed)
#results = cross_val_score(model, X, Y, cv=kfold)
#print(results.mean())

['mean_fit_time',
 'mean_score_time',
 'mean_test_score',
 'mean_train_score',
 'param_feature_union__pca__n_components',
 'param_feature_union__select_best__k',
 'params',
 'rank_test_score',
 'split0_test_score',
 'split0_train_score',
 'split1_test_score',
 'split1_train_score',
 'split2_test_score',
 'split2_train_score',
 'std_fit_time',
 'std_score_time',
 'std_test_score',
 'std_train_score']

# use the model created above to predict the outcome of the test set

In [29]:
model2.predict(X_test)

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [30]:
diff = model2.predict(X_test)-y_test

In [31]:
np.count_nonzero(diff)

131

# use the accuracy_score measure to calculate the accuracy of the model

In [32]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, model2.predict(X_test))

In [33]:
acc

0.9345